# Ex1:

Declare a destroy_elements function that accepts two lists.
It should return a list of all elements from the first list that are NOT contained in the second list.
 Use list comprehension in your solution.

 EXAMPLES
* destroy_elements([1, 2, 3], [1, 2])      => [3]
* destroy_elements([1, 2, 3], [1, 2, 3])   => []
* destroy_elements([1, 2, 3], [4, 5])      => [1, 2, 3]

In [ ]:
def destroy_elements(l1,l2):
  t = [elt for elt in l1 if (elt not in l2)]
  return t
a = destroy_elements([1, 2, 3], [1, 2])
b = destroy_elements([1, 2, 3], [1, 2, 3])
c = destroy_elements([1, 2, 3], [4, 5])
print(a, b, c)

[3] [] [1, 2, 3]

# Ex2 (Majority element)
Given an array nums of size n, return the majority element.

The majority element is the element that appears more than ⌊n / 2⌋ times. You may assume that the majority element always exists in the array.

Input: nums = [2,2,1,1,1,2,2] <br>
Output: 2

In [ ]:
# Write your code here
def majorityElement(nums):
  count = nums.count(nums[0])
  elt = nums[0]
  for i in range(len(nums)):
    if nums.count(nums[i]) >= count:
      count = nums.count(nums[i])
      elt = nums[i]
  return elt

nums = [2,2,1,1,1,2,2]
majorityElement(nums)

2

# Ex3:

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

Input: nums = [1,2,3,1] <br>
Output: true

In [ ]:
# Write your code here
def containsDuplicate(nums):
  val = False
  for i in range(len(nums)):
    if nums.count(nums[i]) > 1:
      return not val
      break
  return val
nums = [1,2,3,4]
containsDuplicate(nums)

False

# Ex4:
Write a factors function that accepts a positive whole number
It should return a list of all of the number's factors in ascending order
 HINT: Could the range function be helpful here? Or maybe a while loop?
EXAMPLES

* factors(1)  => [1]
* factors(2)  => [1, 2]
* factors(10) => [1, 2, 5, 10]
* factors(64) => [1, 2, 4, 8, 16, 32, 64]

In [ ]:
# Write your code here

def factors(n):
  i = 1
  l = []
  while (i <= n):
    if (n % i == 0):
      l.append(i)
    i += 1
  return l
print(factors(1))
print(factors(2))
print(factors(10))
print(factors(64))

[1]
[1, 2]
[1, 2, 5, 10]
[1, 2, 4, 8, 16, 32, 64]

#Ex5:
Write a Python function that takes a positive integer as input and returns the sum of the squares of all the positive integers up to that number.

In [ ]:
# Write your code here

def Sum_Squared(n):
  s = 0
  for i in range(1,n+1):
    s += i**2
  return s

print(Sum_Squared(4))

30

#Ex6:
Create a list of tuples, where each tuple represents a person with a name and age. Sort the list based on the age of the individuals.

In [ ]:
# Write your code here

def sort_tuple_list(l):
  '''
  l here represent a list of tuple
  eg: l = [('Amina', 24), ('Fanta', 21), ('Leslie', 25), ('Jean', 26), ('Prince', 22)]
  '''
  ages = [elt[1] for elt in l]
  ages.sort()

  new_l = []

  for i in range(len(ages)):
    m = l[i][0]
    for j in range(len(ages)):
      if l[j][1] == ages[i]:
        m = l[j][0]
    new_l.append((m, ages[i]))
  return new_l

l = [('Amina', 24), ('Fanta', 21), ('Leslie', 25), ('Jean', 26), ('Prince', 22), ('Rita', 19)]
print(sort_tuple_list(l))
names = [m[0] for m in l]

names

[('Rita', 19), ('Fanta', 21), ('Prince', 22), ('Amina', 24), ('Leslie', 25), ('Jean', 26)]

['Amina', 'Fanta', 'Leslie', 'Jean', 'Prince', 'Rita']

#Ex7:
Write a function that takes a list of words and a minimum length, and returns a new list containing only the words that are longer than the specified length.

In [ ]:
# Write your code here

def k_words_in_list(l, k):
  v = [elt for elt in l if (len(elt) >= k)]
  return v
k_words_in_list(names, 6)

['Leslie', 'Prince']

# Ex8:
Declare a delete_all function that accepts a list and a target
Remove all occurrences of the target  from the list and return it

EXAMPLES
* delete_all([1, 3, 5], 3)  => [1, 5]
* delete_all([5, 3, 5], 5)  => [3]
* delete_all([4, 4, 4], 4)  => []
* delete_all([4, 4, 4], 6)  => [4, 4, 4]

In [ ]:
# Write your code here

def delete_all(l, target):
  i = 0
  while (i < len(l)):
    a = l[i]
    if a == target:
      l.remove(a)
      i -= 1
    i += 1
  return l
print(delete_all([4, 4, 4], 6))
print(delete_all([4, 4, 4], 4))
print(delete_all([5, 3, 5], 5))
print(delete_all([1, 3, 5], 3))

[4, 4, 4]
[]
[3]
[1, 5]

# Ex9:

Define an encrypt_message function that accepts a string.
 The input string will consist of only alphabetic characters.
 The function should return a string where all characters have been moved
 "up" two spots in the alphabet. For example, "a" will become "c".

 EXAMPLES
* encrypt_message("abc") =&gt; "cde"
* encrypt_message("xyz") =&gt; "zab"
* encrypt_message("")    =&gt; ""

* bonus:  can you write a function to decrypt the encrypted message :)

In [ ]:
# Write your code here

def encrypt_message(s):
  alphabet = "abcdefghijklmnopqrstuvwxyz"
  alph = list(alphabet)
  n = len(alph)
  dic = {}

  for i in range(n):
    dic[alph[i]]=i


  k = [key for key,val in dic.items()]
  i = 0
  f = ''
  while(i <= len(s)-1):
    a = k[(dic[s[i]]+2)%26]
    f += a  # s = s.replace(s[i],a,1)
    i += 1
  return f

 # print(alph)
print(encrypt_message("abc"))
print(encrypt_message("xyz"))
print(encrypt_message(""))

cde
zab

In [ ]:
def decrypt_message(s):
  alphabet = "abcdefghijklmnopqrstuvwxyz"
  alph = list(alphabet)
  n = len(alph)
  dic = {}

  for i in range(n):
    dic[alph[i]]=i


  k = [key for key,val in dic.items()]
  i = 0
  f = ''
  while(i <= len(s)-1):
    a = k[(dic[s[i]]-2)%26]
    f += a  # s = s.replace(s[i],a,1)
    i += 1
  return f

 # print(alph)
print(decrypt_message("cde"))
print(decrypt_message("zab"))
print(decrypt_message(""))

abc
xyz

#Ex10:

Define a word_lengths function that accepts a string.
It should return a list with the lengths of each word.

 EXAMPLES
* word_lengths("Mary Poppins was a nanny")  => [4, 7, 3, 1, 5]
* word_lengths("Somebody stole my donut")   => [8, 5, 2, 5]

In [2]:
# Write your code here

# Recall this word function from my notebook on Intro_to_Python_Tutorial_2025

def word(s):
  char_list = s.split(' ')
  val = ""
  while val in char_list:
    char_list.remove(val)
  char_list
  return char_list
def word_length(s):
  a = word(s)
  return [len(i) for i in a]

print(word_length("Mary Poppins was a nanny"))
print(word_length("Somebody stole my donut"))

[4, 7, 3, 1, 5]
[8, 5, 2, 5]

# Ex11:

Define a cleanup function that accepts a list of strings.
The function should return the strings joined together by a space.
There's one BIG problem -- some of the strings are empty or only consist of spaces!
These should NOT be included in the final string
#
* cleanup(["cat", "er", "pillar"])           => "cat er pillar"
* cleanup(["cat", " ", "er", "", "pillar"])  => "cat er pillar"
* cleanup(["", "", " "])                     => ""

In [3]:
# Write your code here

def word(s):
  char_list = s.split(' ')
  val = ""
  while val in char_list:
    char_list.remove(val)
  char_list
  return char_list

def cleanup(l):
  s = ' '
  for i in l:
    s += ' ' + i
  b = word(s)
  t = ''
  for i in b:
    t += ' ' + i
  return t
print("First output:   ",cleanup(["cat", "er", "pillar"]))
print("Second output:   ",cleanup(["cat ", " ", "er", "", "pillar"]))
print("Third output:   ",cleanup(["", "", " "]))

First output:     cat er pillar
Second output:     cat er pillar
Third output:

# Ex12:

Define a nested_sum function that accepts a list of lists of numbers
The function should return the sum of the values
 The list may contain empty lists

 EXAMPLES
* nested_sum([[1, 2, 3], [4, 5]])            =&gt; 15
* nested_sum([[1, 2, 3], [], [], [4], [5]])  =&gt; 15
* nested_sum([[]])

In [ ]:
# Write your code here
def nested_sum(lst):
  s = 0
  for elt in lst:
    l = len(elt)
    if l == 0:
      continue
    else:
      for i in range(l):
        s += elt[i]
  return s

nested_sum([[1, 2, 3], [4, 5]])

15

In [ ]:
nested_sum([[1, 2, 3], [], [], [4], [5]])

15

In [ ]:
nested_sum([[]])

0

#Ex13:
Create a dictionary representing a person (include name, age, and city). Write a program to:

* Print the person's information.
* Update the person's age.
* Add a new key-value pair for the person's occupation.
* Display the updated dictionary.

In [ ]:
# Write your code here

# Creating the dictionary
info = {'Name': 'Jordan', 'Age': 23, 'City': 'Bafoussam'}

# Defining a printing function
def print_info(dic):
  for key in dic.keys():
    print(f"{key}: ",info[key],"\n")

# Printing the user's information
print("***First question***\n")
print_info(info)

# Updating the user's age
info["Age"] = 27
# Printing the user's information
print("***Second question***\n")
print_info(info)

# Adding a new information
info["Occupation"] = "Student"
print("***Third question***\n")
print_info(info)

***First question***

Name:  Jordan

Age:  23

City:  Bafoussam

***Second question***

Name:  Jordan

Age:  27

City:  Bafoussam

***Third question***

Name:  Jordan

Age:  27

City:  Bafoussam

Occupation:  Student

# Ex14:

Many organizations have user ids which are constrained in some way. Imagine you work at an internet service provider and the user ids are all two letters followed by two numbers (e.g. aa49). Your task at such an organization might be to hold a record on the billing activity for each possible user.

Write an initialization line as a single list comprehension which creates a list of all possible user ids. Assume the letters are all lower case.

In [ ]:
# Write your code here
lower_cases = ['a','b','c','d','e','f','g','h','i','j','k','l',
               'm','n','o','p','q','r','s','t','u','v','w','x','y','z']
lst_ids = [f'{a}+{b}+str{c}+str{d}' for a in lower_cases
           for b in lower_cases
           for c in range(10)
           for d in range(10)]
len(lst_ids)

67600

# Ex15:
Ask the user to enter a password, then:

*   check if it contains uppercase letters, lowercase letters, numbers and special characters.
*   Give feedback to the user("Strong password!" or " The password should include a mix of uppercase letters, lowercase letters, numbers, and special characters." ).

In [ ]:
# Write your code here

def password(p):
  lower_cases = ['a','b','c','d','e','f','g','h','i','j','k','l',
               'm','n','o','p','q','r','s','t','u','v','w','x','y','z']
  upper_cases = [i.upper() for i in lower_cases]
  nums = range(10)
  has_spe = False
  Good = "Strong password"
  Bad = " The password should include a mix of uppercase letters,"
  Bad += "lowercase letters, numbers, and special characters."
  for i in p:
    if not ((i in lower_cases) | (i in upper_cases) | (i in nums) | (i ==' ')):
      has_spe = True
  if has_spe:
    print(Good)
  else:
    print(Bad)
  return has_spe


# Asking a user to write a password

p = input("Write a strong password: ")
while (password(p) == False):
  p = input("Write a strong password: ")

Write a strong password: bnokjvh7
Strong password

# Ex16:

Declare a sum_of_evens_and_odds function that accepts a tuple of numbers.
#### It should return a tuple with two numeric values:
 - the sum of the even numbers
 - the sum of the odd numbers.
* sum_of_evens_and_odds((1, 2, 3, 4))   => (6, 4)
* sum_of_evens_and_odds((1, 3, 5))      => (0, 9)
* sum_of_evens_and_odds((2, 4, 6))      => (12, 0)

In [ ]:
# Write your code here

def sum_of_evens_and_odds(tup):
  sum_even = 0
  sum_odd = 0
  for i in tup:
    if (i % 2 == 0):
      sum_even += i
    else:
      sum_odd += i
  return sum_even, sum_odd

print(sum_of_evens_and_odds((1, 2, 3, 4)))
print(sum_of_evens_and_odds((1, 3, 5)))
print(sum_of_evens_and_odds((2, 4, 6)))

(6, 4)
(0, 9)
(12, 0)

# Ex17:

Define a length_counts function that accepts a list of strings.
The function should return a dictionary where the keys represent
 length and the values represent how many strings have that length.

 EXAMPLE:
* sa_countries = ["Brazil", "Venezuela", "Argentina", "Ecuador", "Bolivia", "Peru"]
* length_counts(sa_countries) =&gt; # {6: 1, 9: 2, 7: 2, 4: 1}
* There is 1 string with 6 letters, 2 strings with 9 letters,
* 2 strings with 7 letters, and 1 string with 4 letters.

In [ ]:
# Write your code here

def length_counts(l):
  dic = {}
  for i in l:
    count = 1
    for j in l:
      if (len(i) == len(j)) & (i != j):
        count += 1
    dic[len(i)] = count
  return dic

length_counts(["Brazil", "Venezuela", "Argentina", "Ecuador", "Bolivia", "Peru"])

{6: 1, 9: 2, 7: 2, 4: 1}

# Ex18:

Given two strings s and t, determine if they are isomorphic.

Two strings s and t are isomorphic if the characters in s can be replaced to get t.

All occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character, but a character may map to itself.

Input: s = "egg", t = "add" <br>
Output: true
<br><br>
Input: s = "foo", t = "bar" <br>
Output: false

In [ ]:
# Write your code here

def isom(s, t):
  if len(s)!=len(t):
    return False
  n = len(s)

  # This dictionary will store the mapping

  s_t = {}
  t_s = {}

  for i in range(n):

    # Creating the mappings
    map_s = s[i]
    map_t = t[i]

    # Checking if the map exist
    if map_s in s_t:
      if s_t[map_s] != map_t:
        return False

    elif map_t in t_s:
      if t_s[map_t] != map_s:
        return False

    else:
      # Adding the mapping to the dictionary

      t_s[map_t] = map_s
      s_t[map_s] = map_t
  return True

s1 = "egg"
t1 = "add"
print(isom(s1, t1))

s2 = "foo"
t2 = "bar"
print(isom(s2, t2))

True
False

# Ex19:

 Dot product of vectors: <br>

Vectors are mathematical objects that are often used to represent the inputs to neural networks. One way to view the vectors is as list of items. Complete the following code to compute dot product of two vectors. Dot product is defined the following equation:-
</font>

$$
x.y = <x, y> = x^Ty = \sum_{i}^n x_iy_i
$$

<font  color="white">
Assume that only lists are passed to the function and they also contain only numeric datatype.

</font>

In [ ]:
# Write your code here

def dot(a,b):
  s = 0
  n = len(b)
  if len(a) == n:
    for i in range(n):
      s += a[i]*b[i]
    return s
  else:
    print("The length are inconsistent")


dot([1,2,5,2,-3],[1,2,1,3,2])

10

# Ex20:

Write a function MatMul that multiplies two 2D matrices A and B and returns the result

Validate you code using:

```
A = [ [1,2,3],[4,5,6] ]
B = [ [4,5], [1,2], [0, 1] ]


```

In [ ]:
def MatMul(A, B):
  ##### WRITE YOUR CODE HERE #####
  l = len(A)
  m = len(B[0])
  k = len(B)
  n = len(A[0])
  C = [[0 for i in range(m)] for j in range(l)]
  # print(l, m)
  if n == k:
    for i in range(n):
      for j in range(l):
        for t in range(m):
          C[j][t] += A[j][i]*B[i][t]
    # print(C)
    return C
  else:
    print("We can't do the matrix multiplication")
  #### END CODE ####


A = [ [1,2,3],[4,5,6]]
B = [ [4,5], [1,2], [0, 1] ]
print(MatMul(A, B))
assert MatMul(A, B)==[[6, 12], [21, 36]], "Your implementation is not correct"
print("Congrats, It is working")

[[6, 12], [21, 36]]
Congrats, It is working

#Ex21:

<b> Given a list l, reverse l.
Ex= [1,2,3,4,5] ==> [5,4,3,2,1]. In this case the operation has to be done in-place. Do not allow new memory space</b>

DON't USE THE PYTHON INDEXING [::-1]

In [ ]:
# Write your code here

def rev(l):
  for i in range(0,len(l)//2):
    l[i],l[len(l)-1-i] = l[len(l)-1-i], l[i]
  return l
a = [1,2,3,4,5,6,7,8,9,0]
rev(a)

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Ex22:

<b> Given a string s, check whether s is a palindrome. s is the palindrome if s is equal to its reverse.Using:
- slicing in python
- loop.</b>

example : s='aba' is a palindrom
s='abaa' isnot a palindrom

In [ ]:
# Write your code here

def palindrome(s):
  if s == s[::-1]:
    print("This string is a palindrome")
    return True
  else:
    print("This string is not a palindrome")
    return False

print(palindrome('aba'))
print(palindrome('abaa'))

This string is a palindrome
True
This string is not a palindrome
False

# Ex23:

Find the factorial of a given number:

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

In [ ]:
# Write your code here

def facto(n):
  f = 1
  while (n > 1):
    f *= n
    n -= 1
  return f

facto(5)

120

# Ex24:

Display Fibonacci series up to 10 terms:

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [ ]:
# Write your code here

def Fibon(k_terms = 10):
  a = 0
  b = 1
  print(a,"\n")
  print(b,"\n")
  for i in range(2,k_terms+1):
    c = a + b
    a = b
    b = c
    print(c,"\n")
Fibon(10)

0

1

1

2

3

5

8

13

21

34

55

# Ex25:

- Write a program to display all prime numbers within a range.

- range
start = 19
end = 70

In [ ]:
# Write your code here

def prime(start = 19, end = 70):
  for i in range(start, end+1):
    d = 0
    for j in range(2, i//2):
      if (i % j == 0):
        d += 1
    if d != 0:
      continue
    else:
      print(i,"\n")

prime()

19

23

29

31

37

41

43

47

53

59

61

67

#Ex26:
Write a program to copy the contents of one text file (input.txt) to another file (output.txt). Handle the case where file1 does not exist.

In [ ]:
# Write your code here

import os

def copy_file(input_file, output_file):
  a, b = input_file, output_file

  # Check if the input file exists
  if not os.path.exists(a):
    print(f"Error: Input file '{a}' does not exist.")
    return

  # Open the input and output files
  with open(a, 'r') as input_file, open(b, 'w') as b:

    # Read and write the contents
    for line in input_file:
      b.write(line)

  print(f"Contents of '{a}' copied to '{b}' successfully.")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
copy_file('input.txt','output.txt')

Contents of 'input.txt' copied to '<_io.TextIOWrapper name='output.txt' mode='w' encoding='UTF-8'>' successfully.